body{
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    padding: 20px;
}

h1 {
    color: rgb(255, 203, 5); /* rgb value */
    text-align: center;
}

.big_div {
    border-style: solid; /* hex value */
    border-color: blue; 
    
    margin: 30px;
    padding: 20px;
}

.pokemon_name {
    text-align: center
    font-size: 150px;
    font-weight: bold;
    margin: 10px;
}

.sub_div {
    display: flex;
}

img {
    width: 250px;
    padding-right: 50px;
}

#special {
    font-weight:bold;
    color: rgb(0,255,0); /* rgb value */
}

p{
    color: white;
}