/* Figure out 5 or more DIFFERENT ways to fill in the blank 
   to produce the desired output */

 .chuuuuu#unique{
    font-family: Helvetica;
    font-size: 300%;
    color: #ffd63e;
    text-align: center;
}

/* Record your solutions here:
   #1 - #unique
   #2 - .pika
   #3 - .chuuuuu
   #4 - .pika#unique
   #5 -.chuuuuu#unique

   e.g. - .pika               */